/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap');

/* GLOBAL STYLES */

* {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    margin: 0;
    padding: 0;
    background: rgb(239, 239, 240);
}

/* NAVBAR */

.nav {
    margin: 0;
    height: 40px;
    position: relative;
    margin-top: 20px;
    transition: ease-in-out 0.45s;
}

.nav a {
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    color: black;
    margin: 5px 22px;
    transition: color ease-in 175ms;
}

.navbutton {
    font-family: 'Poppins', sans-serif;
    float: right;
    width: 120px;
    height: 35px;
    margin-right: 30px;
    background-color: #305787;
    border-color: transparent;
    color: white;
    border-radius: 12px;
    font-weight: 600;
    cursor: pointer;
    transition: background 300ms ease-in-out;
    transition: border-radius 300ms ease-in;
    outline: none;
    transition: 0.4s;
}


.navbutton:hover {
    background: #3384e6;
}

.app-button, .form-button {
    position: relative;
    width: 200px;
    height: 50px;
    background-color: #305787;
    border-color: transparent;
    color: white;
    border-radius: 12px;
    font-weight: 800;
    cursor: pointer;
    transition: background 300ms ease-in-out;
    transition: border-radius 300ms ease-in;
    outline: none;
    transition: 0.4s;
}

/* ABOUT */

/* FORM */

#form-body {
    background: rgb(240, 239, 239);
}

#fpg32 {
    margin: auto;
    margin-top: 100px;
    text-align: center;
    background: rgb(239, 239, 240);
    padding: 24px;
    width: 1600px;
    height: 650px;
    border-radius: 20px;
    box-shadow: 0px 0px 12px -8px black;
}

.form-progress-bar-description {
    font-family: 'Hammersmith One', sans-serif;
     font-size: 14px;
     font-weight: 400;
     margin: 0;
 }

 .progress-bar {
    width: 600px;
    height: 15px;
    margin: 0;
 }

 #form-profile-icon {
    width: 80px;
}

.form-profile-name, .form-profile-info {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    font-weight: 400;
    font-size: 13px;
}

.form-profile-info {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    font-weight: 400;
    font-size: 13px;
}

.form-profile-name {
    font-size: 14px;
}

.redirect-title {
    font-family: 'Poppins', sans-serif;
    font-size: 32px;
}

.about-button {
    position: relative;
    width: 200px;
    height: 50px;
    background-color: #FF7754;
    border-color: transparent;
    color: white;
    border-radius: 12px;
    font-weight: 800;
    cursor: pointer;
    transition: background 300ms ease-in-out;
    transition: border-radius 300ms ease-in;
    outline: none;
    transition: 0.4s;
}

.about-button:hover {
    border-radius: 30px;
    background-color: #c55a3f;
}

/* FORM */


/* KEYFRAMES */

@keyframes anim {
    from {
        transform: translateY(-100px);
        opacity: 0;
    }
    to {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes btn-shake {
    10%, 90% {
      transform: translate3d(-5px, 0, 0);
    }

    20%, 80% {
      transform: translate3d(5px, 0, 0);
    }

    30%, 50%, 70% {
      transform: translate3d(-5px, 0, 0);
    }

    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
  }

@media screen and (max-width: 550px) {
    .navbutton {
        display: none;
    }
  }

@media screen and (max-width: 375px) {
    #navlink4 {
        display: none;
    }
  }
/* KEYFRAMES */
@media screen and (min-width: 300px) and (max-width: 539px) {
    #form-body {
        background: rgb(240, 239, 239);
    }

    .nav a {
        font-size: 14px;
    }

    #fpg25 {
        margin-top: 0px;
        width: 300px;
        height: 150px;
        border-radius: none;
        box-shadow: none;
    }

    .form-progress-bar-description {
       font-size: 13px;
     }

     .progress-bar {
        height: 15px;
        width: 300px;
     }

    #fpg32 #form-profile-icon {
        width: 80px;
    }

    .form-profile-info {
        font-size: 12px;
    }

    .form-profile-name {
        font-size: 13px;
    }

    .redirect-title {
        width: 100%;
        font-size: 22px;
}
    .form-button {
        width: 120px;
        height: 45px;
        font-size: 12px;
        margin: 0 5px;
        font-size: 14px;
        font-weight: 750;
    }
}

@media screen and (min-width: 540px) and (max-width: 800px) {
    #form-body {
        background: rgb(240, 239, 239);
    }

    .nav a {
        font-size: 14px;
    }

   #fpg32 {
        margin-top: 0px;
        width: 500px;
        height: 150px;
        border-radius: none;
        box-shadow: none;
    }

    .form-progress-bar-description {
       font-size: 14px;
     }

     .progress-bar {
        height: 20px;
        width: 400px;
     }

     #fpg32 #form-profile-icon {
        width: 80px;
    }

    .form-profile-info {
        font-size: 12px;
    }

    .form-profile-name {
        font-size: 15px;
    }

    .redirect-title {
        font-size: 26px;
        width: 100%;
    }

    .form-button {
        width: 160px;
        height: 45px;
        font-size: 12px;
        margin: 0 5px;
        font-size: 14px;
        font-weight: 750;
    }
}

@media screen and (min-width: 801px) and (max-width: 1325px){
    #form-body {
        background: rgb(240, 239, 239);
    }

    #fpg32 {
        margin-top: 50px;
        width: 800px;
        height: 550px;
        border-radius: 24px;
        box-shadow: none;
    }

    .form-progress-bar-description {
       font-size: 14px;
     }

     .progress-bar {
        height: 20px;
        width: 600px;
     }

     #fpg32 #form-profile-icon {
        width: 80px;
    }

    .form-profile-info {
        font-size: 13px;
    }

    .form-profile-name {
        font-size: 14px;
    }

    .redirect-title {
        font-size: 30px;
        width: 100%;
    }

    .form-button {
        width: 180px;
        height: 45px;
        font-size: 12px;
        margin: 0 5px;
        font-size: 14px;
        font-weight: 800;
    }
}

@media screen and (min-width: 1326px) and (max-width: 1670px) {
    #form-body {
        background: rgb(240, 239, 239);
    }

   #fpg32 {
        margin-top: 30px;
        width: 1300px;
        height: 590px;
        border-radius: 24px;
        box-shadow: 0px 0px 20px -12px black;
    }

    .form-progress-bar-description {
       font-size: 13px;
     }

     .progress-bar {
        height: 20px;
     }

     #form-profile-icon {
        width: 75px;
    }

    .form-profile-info {
        font-size: 12px;
    }

    .form-profile-name {
        font-size: 13px;
    }

    .redirect-title {
        font-size: 28px;
    }
}